{extend name="table"}

{block name="content"}
<div class="think-box-shadow">
    {include file='user/index/index_search'}
    <table id="UserTable" data-url="{:sysuri('index')}" data-target-search="form.form-search"></table>
</div>

<script>
    $(function () {
        $('#UserTable').layTable({
            even: true, height: 'full',
            sort: {field: 'id', type: 'desc'},
            cols: [[
                {field: 'id', title: 'ID', width: 70, align: 'center', sort: true},
                {field: 'avatar_url', title: '头像', width: 70, align: 'center', templet: '<div>{{-$.layTable.showImage(d.avatar_url)}}</div>'},
                {field: 'pid', title: '推荐人ID', width: 100, align: 'center'},
                {field: 'appid', title: 'appid', width: 180, align: 'center'},
                {field: 'vip_time', title: '会员到期', width: 150, align: 'center', templet: '#VipTimeTpl'},
                {field: 'login_at', title: '最近登录时间', width: 150, align: 'center', sort: true},
                {field: 'login_ip', title: '最近登录IP', width: 140, align: 'center'},
                {field: 'last_login_at', title: '上次登录时间', width: 150, align: 'center', sort: true},
                {field: 'last_login_ip', title: '上次登录IP', width: 120, align: 'center'},
                {field: 'device_model', title: '设备型号', width: 160},
                {field: 'device_system', title: '系统版本', width: 120},
                {field: 'screen_width', title: '屏幕宽度', width: 100, align: 'center'},
                {field: 'screen_height', title: '屏幕高度', width: 100, align: 'center'},
                {field: 'sdk_version', title: 'SDK版本', width: 120, align: 'center'},
                {field: 'status', title: '状态', width: 120, align: 'center', templet: '#StatusSwitchTpl'},
                {field: 'create_at', title: '注册时间', width: 170, align: 'center', sort: true},
                {toolbar: '#toolbar', title: '操作', width: 120, align: 'center', fixed: 'right'}
            ]]
        });

        layui.form.on('switch(StatusSwitch)', function (obj) {
            var data = {id: obj.value, status: obj.elem.checked > 0 ? 1 : 0};
            $.form.load("{:url('state')}", data, 'post', function (ret) {
                if (ret.code < 1) $.msg.error(ret.info, 3, function () {
                    $('#UserTable').trigger('reload');
                }); else $('#UserTable').trigger('reload');
                return false;
            }, false);
        });
    });
</script>

<script type="text/html" id="VipTimeTpl">
    {{-d.vip_time > 0 ? layui.util.toDateString(d.vip_time * 1000, 'yyyy-MM-dd HH:mm') : '<span class="color-desc">未开通</span>'}}
</script>

<script type="text/html" id="StatusSwitchTpl">
    <!--{if auth("state")}-->
    <input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁用" lay-filter="StatusSwitch" {{-d.status>0?'checked':''}}>
    <!--{else}-->
    {{-d.status ? '<b class="color-green">正常</b>' : '<b class="color-red">禁用</b>'}}
    <!--{/if}-->
</script>

<script type="text/html" id="toolbar">
    <!--{if auth("logout")}-->
    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要让该用户退出登录吗？" data-action="{:url('logout')}" data-value="id#{{d.id}}">退出登录</a>
    <!--{/if}-->
</script>
{/block}
